@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/spacing' as *;
/* near top of file */
@use '@carbon/styles/scss/type' as *;
/* place at top of file */
@use '@carbon/styles/scss/grid';
@use '@carbon/styles/scss/breakpoint' as *;

:root {
  @include theme(themes.$g10);

  @media (prefers-color-scheme: dark) {
    @include theme(themes.$g100);
  }
}

.g10 {
  @include theme(themes.$g10);
}

.g100 {
  @include theme(themes.$g100);
}

:root .compliment {
  @include theme(themes.$g100);

  @media (prefers-color-scheme: dark) {
    @include theme(themes.$g10);
  }
}

.g10 .compliment {
  @include theme(themes.$g100);
}

.g100 .compliment {
  @include theme(themes.$g10);
}

.app {
  display: grid;
  grid-template-rows: $spacing-09 1fr;
  height: 100vh;
  overflow: hidden;
}

.main {
  height: 100%;
  overflow-y: auto;
}

.action-icon {
  width: 1.25rem;
  height: 1.25rem;
  background-color: $text-primary;
}

.notification .action-icon {
  mask: url('/notification.svg') no-repeat center;
}

.user-avatar .action-icon {
  mask: url('/user--avatar.svg') no-repeat center;
}

.app-switcher .action-icon {
  mask: url('/switcher.svg') no-repeat center;
}

.header-panel__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;
  padding: $spacing-05;
}

.header-panel__title {
  @include type-style('productive-heading-02');
}

.theme-selector__icon {
  width: 1.25rem;
  height: 1.25rem;
  background-color: $text-primary;
}

cds-content-switcher-item[selected] .theme-selector__icon {
  /* switch icon color when selected */
  background-color: $background;
}

.theme-selector__icon--light {
  mask: url('/sun.svg') no-repeat center;
}

.theme-selector__icon--system {
  mask: url('/brightness-contrast.svg') no-repeat center;
}

.theme-selector__icon--dark {
  mask: url('/moon.svg') no-repeat center;
}

.page {
  padding: 0;

  >* {
    padding-inline: $spacing-06;
    margin: 0;
  }
}

.page-landing__banner {
  padding-block: $spacing-05 $spacing-13;
  background: $layer-01;
  box-shadow: $spacing-06 0 0 $layer-01, -1 * $spacing-06 0 0 $layer-01;
}

.page-landing__heading {
  @include type-style('productive-heading-05');

  margin: 0;
}

.page-landing__illo {
  max-width: 100%;
  float: inline-end;
  height: auto;
}

@include breakpoint-down(md) {
  .page-landing__illo {
    max-width: 528px;
    width: 100%;
    height: 100%;
    float: inline-start;
  }
}

.page-landing__tabs {
  margin: (-1 * $spacing-08) 0 $spacing-08;
}

.page-landing__tab-content {
  padding-block: $spacing-06;
}

.page-landing__subheading {
  @include type-style('productive-heading-03');

  font-weight: 600;
}

.page-landing__p {
  @include type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;
}

.page-landing__r3 {
  padding-block: $spacing-09;
  background: $layer-01;
}

.repo-page__r1 {
  padding-block: $spacing-05;
}

.link-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.link-list li:not(:last-child) {
  padding-inline-end: $spacing-02;

  &::after {
    content: '|';
    display: inline;
  }
}

.link-list li:not(:first-child) {
  padding-left: $spacing-02;
}


.info-section__heading {
  @include type-style('heading-01');

  padding-block-end: $spacing-08;
}

.info-card__pictogram {
  width: $spacing-10;
  height: $spacing-10;
  background-color: $text-primary;
}

.info-card__pictogram--accelerating-transformation {
  mask: url('/accelerating-transformation.svg') no-repeat center;
}

.info-card__pictogram--advocate {
  mask: url('/advocate.svg') no-repeat center;
}

.info-card__pictogram--globe {
  mask: url('/globe.svg') no-repeat center;
}

.info-card {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: $spacing-05;
  border-left: 1px solid $border-subtle;

  @include breakpoint-down(xlg) {
    &:nth-of-type(2) {
      border-left: none;
      padding-left: 0;
    }
  }

  @include breakpoint-down(lg) {
    flex-direction: row-reverse;
    border-left: none;
    padding-inline: 0;
    gap: $spacing-07;
    padding-top: $spacing-10;
    height: initial;

    &:nth-of-type(2) {
      padding-top: 0;
    }
  }
}

.info-card__heading {
  @include type-style('heading-03');

  margin-top: 0;
}

.info-card__body {
  @include type-style('body-long-01');

  margin-top: $spacing-06;
}